<!--
<form th:action="@{/quiz/submit}" method="post">
    <input type="hidden" name="quizId" th:value="${quizId}" />

    <div th:each="question : ${questions}">
        <p th:text="${question.questionTitle}"></p>
        <label><input type="radio" th:name="${'q' + question.id}" th:value="${question.option1}" /> <span th:text="${question.option1}"></span></label><br/>
        <label><input type="radio" th:name="${'q' + question.id}" th:value="${question.option2}" /> <span th:text="${question.option2}"></span></label><br/>
        <label><input type="radio" th:name="${'q' + question.id}" th:value="${question.option3}" /> <span th:text="${question.option3}"></span></label><br/>
        <label><input type="radio" th:name="${'q' + question.id}" th:value="${question.option4}" /> <span th:text="${question.option4}"></span></label><br/><br/>
    </div>

    <button type="submit">Submit Quiz</button>
</form>
-->